@media screen and (min-width: 750px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    nav ul {
        display: flex !important; /* <--- Esta línea es clave */
        flex-direction: row;
        position: static;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        margin: 0;
    }
    nav ul li {
        background-color: #47B1C8;
        list-style: none;
    }
    nav a {
        flex: 1 1 auto;
        color: white;
        background-color: transparent;
    }

    .hamburger {
        display: none;
    }
}
